@import "variables";

a img.icon {
  height: 25px;
}

.all-installer-options a {
  display: block;
  width: max-content;
}

.download-hero-image {
  height: 35rem;
  width: 100%;
  display: block;
  text-align: center;
  background: url(/images/pages/philipp-a-urlich-trees.webp);
  background-size: cover;
  background-position: center;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
  border-radius: var(--container-border-radius);
}

.download-hero-content {

  background: var(--body-background-color);
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
  top: 10rem;
  box-shadow: 0px 0px 7px 0px #00000075;
  border-radius: var(--container-border-radius);

  a.button {
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    top: 4rem;
    margin: 2rem;
  }
}
