{{ define "main" }}

<div class="post-download-hero-image">
    <span class="post-download-hero-content">
        <h2>{{ i18n "have-fun-painting" }}</h2>
    </span>
</div>

<div>
    <div class="instructions">
        <span>{{ i18n "have-trouble-downloading" }} <a href="https://download.kde.org/stable/krita/" target="_blank">{{ i18n "visit-downloads-area" }}</a>.</span>
        <span style="float: right">{{ partial "art-by.html" (dict "context" "." "name" "Sonny" "url" "https://krita-artists.org/u/sonny/activity/portfolio") }}</span>
    </div>

</div>

<div class="container-padding">

    <h1 style="text-align: center; margin-top: 1rem">{{ i18n "whats-next" }}</h1>


    <div class="row community-area">

        <h3>{{ i18n "connect-with-community" }}</h3>

        <div class="col-md-6" >
            <p>
                {{ i18n "share-artwork-and-ask-questions" }}
                <a href="https://krita-artists.org/">{{ i18n "krita-artists-forum" }}</a>
            </p>
            <a href="https://krita-artists.org/" target="_blank">
                <img src="images/pages/krita-artists-shot.png" />
            </a>
        </div>

        <div class="col-md-6" >
            <p>
                {{ i18n "watch-videos-to-learn" }}
                <a href="https://www.youtube.com/channel/UCkIccKaHDGA8lYVmUerLhag/videos" target="_blank">{{ i18n "krita-youtube-channel" }}</a>
            </p>

            <a href="https://www.youtube.com/channel/UCkIccKaHDGA8lYVmUerLhag/videos" target="_blank">
                <img src="images/pages/youtube-channel.png" />
            </a>
        </div>
    </div>

    <h3> {{ i18n "free-learning-resources" }}</h3>

    <div class="row">
        <div class="col-md-4">
            <img src="images/pages/icon-getting-started-1.png" />
            <a href="https://docs.krita.org/user_manual/getting_started.html"> {{ i18n "getting-started" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-user-interface-1.png" />
            <a href="https://docs.krita.org/user_manual/getting_started/navigation.html">{{ i18n "user-interface" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-general-concepts-1.png" />
            <a href="https://docs.krita.org/user_manual/getting_started/basic_concepts.html">{{ i18n "basic-concepts" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-drawing-assistants-1.png" />
            <a href="https://docs.krita.org/user_manual/painting_with_assistants.html">{{ i18n "drawing-assistants" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-animation-1.png" />
            <a href="https://docs.krita.org/user_manual/animation.html">{{ i18n "animations" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-tutorials-1.png" />
            <a href="https://docs.krita.org/tutorials.html">{{ i18n "tutorials" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-user-manual-1.png" />
            <a href="https://docs.krita.org/user_manual.html">{{ i18n "user-manual" }}</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-wet-drop-1.png" />
            <a href="https://docs.krita.org/user_manual/layers_and_masks.html">{{ i18n "layers-and-masks" }}</a>
        </div>
    </div>


</div>









{{ .Content }}

{{ end }}
